<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>バーチャルライバー生配信先自分用まとめ</title>
  {{noescape `<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->`}}
</head>
<body>
<h1 id="title">バーチャルライバー生配信先自分用まとめ</h1>
<p>敬称略</p>
<ul>
  <li>にじさんじ: <a href="https://twitter.com/nijisanji_app">Twitter</a>, <a href="https://twitter.com/NijisanjiGamers">ゲーマーズ</a>, <a href="https://twitter.com/Nijisanji_Seeds">SEEDs</a>, <a href="https://wikiwiki.jp/nijisanji/">非公式 wiki</a>, <a href="https://www.youtube.com/channel/UCX7YkU9nEeaoZbkVLVajcMg/live">YouTube</a></li>
  <ul>
    {{- with (index . "にじさんじ") -}}{{- range .}}
    <li>
      {{if .Value.HasKey "Profile" -}}
        {{- if .Value.IsSingleValue "Profile" -}}
          <strong><a href="{{.Value.Find "Profile"}}">{{.Key}}</a></strong>
        {{- else -}}
          {{- $key := .Key -}}
          {{- $urls := .Value.Find "Profile" -}}
          {{- $len := len $urls -}}
          {{- if $len -}}
            <strong><a href="{{index $urls 0}}">{{$key}}</a></strong>
            {{- if eq $len 2 -}}
              &nbsp;(<a href="{{index $urls 1}}">その他</a>)
            {{- else if gt $len 2 -}}
              &nbsp;(
              {{- range $i, $url := $urls}}
                {{- if $i -}}
                  {{- if ne $i 1 -}}, {{end -}}
                  <a href="{{$url}}">{{if eq $i 1}}その他{{end}}{{$i}}</a>
                {{- end -}}
              {{end -}}
              )
            {{- end -}}
          {{- else -}}
            <strong>{{$key}}</strong>
          {{- end -}}
        {{- end -}}
      {{- else -}}
        <strong>{{.Key}}</strong>
      {{- end -}}
      :&nbsp;

      {{- with $lives := .Value.Find "Lives" -}}
        {{- range $i, $kv := $lives -}}
          {{- if $i -}}, {{end -}}
          <a href="{{$kv.Value}}">{{$kv.Key}}</a>
        {{- end -}}
      {{- end}}
    </li>
    {{- end -}}{{- end}}
  </ul>
</ul>
</body>
</html>
