<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>バーチャルライバー生配信先自分用まとめ</title>
  {{ noescape `<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->` }}
</head>
<body>
<h1 id="title">バーチャルライバー生配信先自分用まとめ</h1>
<p>敬称略</p>
<ul>
  {{- range $item := . -}}
    <li>
      {{ template "ShowProfile" dict "Text" $item.Key "Attrs" $item.Value }}
      <ul>{{ template "ShowTree" $item.Value }}</ul>
    </li>
  {{- end }}
</ul>
</body>
</html>
