<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>自分用バーチャルライバー生配信先まとめ</title>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
<h1 id="title">自分用バーチャルライバー生配信先まとめ</h1>
<p>敬称略</p>
<ul>
  <li>にじさんじ: <a href="https://wikiwiki.jp/nijisanji/">非公式 wiki</a></li>
  <ul>
    {{with (index . "にじさんじ")}}
      {{range .}}
      <li>
	{{if .Value.HasKey "Profile"}}
          <strong><a href="{{.Value.Find "Profile"}}">{{.Key}}</a></strong>:&nbsp;
        {{else}}
          <strong>{{.Key}}</strong>:&nbsp;
        {{end}}
        {{with $lives := .Value.Find "Lives"}}
          {{range $i, $kv := $lives}}{{if $i}}, {{end}}<a href="{{$kv.Value}}">{{$kv.Key}}</a>{{end}}
        {{end}}
      </li>
      {{end}}
    {{end}}
  </ul>
</ul>
</body>
</html>
